<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Title}}</title>
</head>
<body>
{{/* Ini contoh komentar */}}
Name : {{.Name}} <br>
{{with .Address}}
    address street : {{.Street}} <br>
    address city : {{.City}} <br>
{{end}}
</body>
</html>